*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;      
}

.aboutContainer{
    width: 100%;
    min-height:100vh;
}

nav{
    /* margin:3% 0px; */
    padding: 10px 30px;
    height: 70px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    /* border-radius: 12px;   */
    background-color:#ffffff;
    display: flex;
    align-items:center;
    justify-content: space-between;
}


.logo1{
    width: 150px;
    height:60px;
    padding-top: 15px;
}

.logo2{
    width:60px;
    height: 50px;
    padding-top: 10px;
    display: none;
}

.navSearch{
    flex: 1;
    max-width: 550px;
    margin: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.navSearch input{
    width: 100%;
    height: 45px;
    padding: 0 20px;
    padding-right: 45px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: border 0.3s ease;
}
.navSearch input:focus {
    border-color: #e63946;
}

.navIcon{
    position: absolute;
    right: 20px;
    font-size: 20px;
}

.navbutton{
    width: 40%;
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    font-weight: 800;
    font-size: 20px;
}

.navbutton a{
    color: black;
    text-decoration: none;
}

.navLine{
    padding:10px;
    display: flex;
    width: 100%;
    color: #ffffff;
    background-color:#141652;
    justify-content: space-between;
}

.navXmark , .navBars{
    display: none !important;
}

/* Nav Responsive Start */

@media screen and (max-width:1250px) {
    .navbutton{
        font-size: 18px;
    }

    .navSearch input{
        height: 35px;
    }

    .navIcon{
        font-size: 16px;
    }
}


@media screen and (max-width:1000px) {
    .logo1{
        display: none;
    }
    .logo2{
        display: flex;
    }

    nav{
        padding-left: 10px;
    }
}

@media screen and (max-width:900px) {
    nav{
        position: relative;
    }
    .navbutton{
        position: absolute;
        top:70px;
        background-color:#141652;
        background-color: #fff;
        color: #ff6f00;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        flex-direction: column;
        left: 0;
        height: 50vh;
        justify-content: space-around;
        padding-left:2%;  
        transition: all 0.30s;
        left: -50%;
        z-index: 1000;          
    }

    .navbutton a{
        color: #ff6f00;
    }

        .navXmark , .navBars{
            display:flex !important;
            cursor: pointer;
        }

        .navBars{
            font-weight: 600;
            font-size: 20px;
        }

        .navXmark{
            position: absolute;
            right: 15px;
            top: 15px;
        }

        .navLine a{
            font-size: 15px;
        }

        .navLine-7 , .navLine-8 , .navLine-9 , .navLine-10{
            display: none;
        }  
}

@media screen and (max-width:800px){
    nav{
        padding:10px;
    }

    .navbutton{
        height: 40vh;
    }
}

@media screen and (max-width:400px) {
    .navbutton{
        height: 30vh;
    }
}


@media screen and (max-width:500px) {
    .navLine-5 , .navLine-6{
        display: none;
    }
    .navbutton{
        width: 50%;
    }
}


/* Nav Responsive clouses */


/* Nav finish */






.aboutHome{
    width: 100%;
    height:auto;
    display: flex;
    gap: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.aboutHome img{
    width:34%;
    height:300px;
    opacity: 0.8;
}

.aboutHomeContent{
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: #ff6f00;
}

.aboutHomeContent button{
    background-color:#ff6f00;
    border: unset;
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

/* .aboutBody{
    display:flex;
    gap:50px;
    background-color: red;
    width: 100%;
} */

.firstAboutBody , .secondAboutBody {
    display: flex;
    width: 100%;
    margin-top:3%;
    gap:50px;
    padding: 0px 2%;
    height:350px;
    overflow: scroll;
}

/* .firstAboutBody::scroll-marker{
    width: 0px;
} */

.firstAboutBody::-webkit-scrollbar{
    width: 0px;
}

.secondAboutBody::-webkit-scrollbar{
    width: 0px;
}



.firstAboutBody-right , .secondAboutBody-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;

}

.firstAboutBody-right img , .secondAboutBody-right img{
    width:100%;
    height:300px;
}

.firstAboutBody-right h1 , .secondAboutBody-right h1{
    color: #ff6f00;
}


.firstAboutBody-left , .secondAboutBody-left{
    padding-top: 5%;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 20px;
    /* background-color: yellow; */
}

.firstAboutBody-left p , .secondAboutBody-left p{
    /* background-color: red; */
    font-size: 18px;
    font-weight: 500;
}

.firstAboutBody-left h1 , .secondAboutBody-left h1{
    color: #ff6f00;
}

.secondAboutBody-left{
    padding-top:0px;
}

.secondAboutBody-right{
    padding-top: 4%;
}

/* scrolling start */

.scrolling{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: relative;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.scrollImg{
    width: 500%;
    position:absolute;
    left: 0px;
    height: 450px;
}


.scrolling img{
    width:20%;
    height: 100%;
    /* position:absolute; */
    left:20px;
    top: 10px;
}

.scrollIcon{
    width: 100%;
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 40%;
    color: #ff6f00;
    cursor: pointer;
}
/* scrolling clouses */



/* Responsive is start */

    @media screen and (max-width:1100px){
        .aboutHome img{
            height: 250px;
        }
    }


    @media screen and (max-width:1000px) {
        .firstAboutBody , .secondAboutBody{
            flex-direction: column;
            align-items: center;
            min-height: 350px;
            height: auto;
            gap: 10px;
        }

        .firstAboutBody-left , .secondAboutBody-left{
            width: 100%;
        }

        .firstAboutBody-right{
            width: 60%;
        }

        .secondAboutBody-right{
            width: 100%;
        }

    }


    @media screen and (max-width:900px){
        .aboutHome img{
            height: 200px;
        }

        .firstAboutBody-left p , .secondAboutBody-left p{
            font-size: 15px;
        }

    }



    @media screen and (max-width:750px) {
        .aboutHome img{
            height:180px;
        }
    }


    @media screen and (max-width:700px) {
        .aboutHome img{
            height:150px;
        }
    }


    @media screen and (max-width:600px){
        .firstAboutBody-left h1 , .secondAboutBody-left h1{
            font-size: 20px;
        }

        .firstAboutBody-right h1 , .secondAboutBody-right h1{
            font-size: 25px;
        }

        .firstAboutBody-right{
            width: 80%;
        }

    }


    @media screen and (max-width:500px) {
        .aboutHome img{
            height:120px;
        }

        .aboutHomeContent{
            gap: 5px;
        }

        .aboutHome h1{
            font-size: 20px;
        }

        .aboutHome button{
            width: 80px;
            font-size: 10px;
            padding: 5px;
        }


    }

/* Responsive is clouses */



/* footer is start */

footer{
    width: 100%;
    background-color: #333333;
    min-height: 400px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 5%;
    margin-top: 40px;
}

.footerhead{
    display: flex;
    gap: 20px;
    color: #cccccc;
}

.footerLine{
    height: 2px;
    margin: 20px 0px;
    width: 100%;
    background-color: lightgray;
}

.FooterContent{
    display: flex;
    justify-content: space-between;
    color: #cccccc;
}

.footerText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerTextHead{
    color: #ffffff;
    margin: 15px 0px;
    font-weight: 700;
    font-size: 18px;
}


.footerSix{
    margin-top: 8%;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:center;
}

.footerLogos{
    display: flex;
    font-size: 10px;
    font-weight: 600;
}


.footerIcon{
    font-size: 25px;
    display: flex;
    gap: 10px;
}

/* footer is clouses */

/* footer Responsive Start */

@media screen and (max-width:1100px) {
    footer{
        padding: 20px 2%;
    }
}


@media screen and (max-width:1000px) {
    .footerSix{
        margin-top:1%;
    }

    footer{
        padding: 20px 6%;
    }

    .FooterContent{
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 8%;
    }
}

@media screen and (max-width:850px){
   
    .footerhead{
        justify-content: center;
    }

    .footerhead a{
        font-size: 12px;
    }
    
}

@media screen and (max-width:700px) {
    .FooterContent{
        grid-template-columns: auto auto;
        justify-content: center;

    }

    .footerhead a{
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .footerhead{
        display: none;
    }
}


@media screen and (max-width:400px) {
    .FooterContent{
        grid-template-columns: auto;
        row-gap: 5%;
    }
}

/* footer Responsive clouses */




